body{
    background-color: #f2f2f2;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    margin-top: 5px;  
}
#table{
    text-align: center;
}
table{
    border-collapse: collapse;
}
tr {
    margin: 1px auto ;
}
table  {
 margin: auto ;
 background-color: #faf5f5;
 border: 0.3em dotted rgb(236, 230, 230);
}
#table td{
 box-shadow: none;
 background-color: #f2f2f2;
 border-top:0.1em solid silver;
 border-left:0.1em solid silver;

}
 .container{
    display: flex;
    flex-wrap: wrap;
} 
.container td{
    padding: 20px;
    border-top: 0.1px dotted snow;
    background-color:#efac2a;
} 
.boxer{
    position: absolute;
    top: 48px;
}

#bap td{
    padding: 20px;
    border: 0.1px solid snow;
    background-color:#efac2a;
}
#bap{
    display: flex;
    flex-wrap: wrap;
}
.controls{
    position: absolute;
    float: left;
}
button{
    padding: 10px;
}